//  ===COLORS===

//Neutral
$text_primary_default: #151615;
$text_secondary_hover: #555855;
$text_secondary_default: #7e817e;
$text_tertiary_default: #9da09c;
$stroke_text_disabled: #e1e1e1;
$bg_secondary_hover: #f0f1ef;
$bg_secondary_default: #f6f6f5;
$bg_primary: #ffffff;

//Accent
$accent_default: #43813a;
$accent_hover: #a3c779;
$accent_click: #2e6c25;
$accent_bg_light: #f1fce4;
$accent_active: #cde2b4;
$accent_primary_focus: #ffd84e;

//Success
$success_default: #37d121;
$success_hover: #1caf07;
$success_bg_light: #f7fdf4;
$success_stroke: #ade1a5;

//Warning
$warning_main: #f2b30f;
$warning_hover: #d18006;
$warning_bg_color: #fffbf2;
$warning_border: #f5ddb9;

//Error
$danger_main: #e31b1b;
$danger_hover: #c20d0d;
$danger_bg_color: #fff2f2;
$danger_border: #e2b6b6;
$error-stroke: #DC5C5C;

//Info
$info_main: #4464aa;
$info_hover: #212327;
$info_active: #6084d3;
$info_bg_color: #ecf1fb;
$info_border: #b4c3e5;
$info_stroke: #D1DCF4;
