:root {
  --font-family-main: 'Nunito Sans', serif;

  //COLORS

  --neutral-black-100: #0a0a0a;
  --neutral-black-90: #424242;
  --neutral-black-80: #616161;
  --neutral-black-70: #757575;
  --neutral-black-60: #9e9e9e;
  --neutral-black-50: #c2c2c2;
  --neutral-black-40: #e0e0e0;
  --neutral-black-30: #ededed;
  --neutral-black-20: #f5f5f5;
  --white: #fff;
  --black: #000;
  --neutral-bg-secondary-default: #f6f6f5;
  --neutral-text_secondary_default: #70736f;
  --neutral-bg-secondary-hover: #f0f1ef;
  --neutral-text_secondary_hover: #555855;

  --accent-default-click: #43813a;
  --accent-hover: #a3c779;
  --accent-bg-light: #e7f6f5;
  --accent-active: #b1ceb4;
  --focus: #e2dc66;

  --success-default: #37d121;
  --success-hover: #1caf07;
  --success-bg-light: #e7fcdf;
  --success-stroke: #ade1a5;

  --warning-main: #f2b30f;
  --warning-hover: #d18006;
  --warning-bg: #fff8eb;
  --warning-border: #f5ddb9;
  --warning-active: #95891d;
  --warning-focus: #fdf8cf;

  --error-main: #e31b1b;
  --error-hover: #c20d0d;
  --error-bg: #fff2f2;
  --error-border: #e2e6b6;
  --error-active: #541212;
  --error-focus: #ffdfdf;

  --info-main: #4464aa;
  --info-hover: #212327;
  --info-active: #001793;
  --info-bg: #ebeeff;
  --info-border: #aab6f4;
}
