@import 'src/app/styles';

.TaskModalCheckbox {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  color: $text_tertiary_default;
}
.svgContainer {
  position: absolute;
  //opacity: 0;
  right: 0;
  display: flex;
  gap: 10px;
}
.editCheckbox {
  display: inline;
  cursor: pointer;
}
.deleteCheckbox {
  display: inline;
  cursor: pointer;
}
.TaskModalCheckbox:hover {
  color: #151615;
}
.checkboxEditor {
  width: 100%;
  height: 24px;
  border: none;
  outline: none;
}
.checkboxEditorContainer{
  width: 100%;
  display: flex;
  gap: 20px;

}
button.checkboxEditorSave {
  right: 0;
  top: 0;
  background: none;
  border: none;
}
button.checkboxEditorSave:hover {
  border: none;
}