@import 'src/app/styles';

.TaskModalCheckbox {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  color: $text_tertiary_default;
}
.svgContainer {
  position: absolute;
  opacity: 0;
  right: 0;
}
.editCheckbox {
  display: inline;
  cursor: pointer;
}
.deleteCheckbox {
  display: inline;
  cursor: pointer;
}
.TaskModalCheckbox:hover {
  color: #151615;
}
.TaskModalCheckbox:hover .svgContainer {
  opacity: 1;
}
.checkboxEditor {
  width: 100%;
  height: 24px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.checkboxEditorContainer{
  width: 100%;
}
.checkboxEditorSave {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
}