@import 'app/styles/index';

.schedule {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.modalVisible:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(7, 7, 6, 0.12);
  z-index: 10;
}
