@import 'app/styles/index';

.inputContainer {
  display: flex;
  gap: 12px;
  height: 48px;
  flex: 1 0;
  min-width: 400px;
  position: relative;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid $stroke_text_disabled;
  flex: 1 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $text_primary_default;
}

.button {
  padding: 12px 28px;
  border-radius: 2px;
}
.loader {
  position: absolute;
}
.loaderButton {
  width: 74px;
  height: 42px;
}
.suggestions {
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  height: 500%;
  background-color: #fff;
  z-index: 10;
}
.suggestionItem {
  padding: 10px;
  border-bottom: 1px solid $stroke_text_disabled;
  cursor: pointer;
}
.suggestionItem:hover {
  background: $stroke_text_disabled;
}
@media screen and (max-width: 1200px) {
  .inputContainer {
    order: 1;
  }
}
@media screen and (max-width: 883px) {
  .inputContainer {
    order: unset;
    min-width: unset;
  }
}
