@import 'src/app/styles';

.ModalTask {
  --window-width: 900px;
  width: var(--window-width);
  display: none;
  top: 36px;

  left: calc(50% - (var(--window-width) / 2));
  padding: 40px 44px;
  border-radius: 24px;
  //min-height: calc(100% - 144px);
}
.visible {
  display: block;
  position: absolute;
  background: #fff;
  z-index: 99;
}
.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.windowHeader {
  display: flex;
}
.title {
  font-size: 32px;
  font-weight: 700;
}
.titleInput {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 32px;
  font-weight: 700;
}
.titleInput::placeholder {
  font-size: 32px;
  font-weight: 700;
}
.deadline {
  padding: 12px 16px;
  background: $bg_secondary_default;
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 20px;
  min-width: 200px;
}
.deadlineInput {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
}
.deadlineInput::placeholder {
  font-size: 16px;
}
.subject,
.teacher,
.description,
.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.description {
  margin-bottom: 40px;
}
.checkboxesBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 6px;
}

.deadlineHeader {
  font-size: 14px;
  font-weight: 400;
  color: $text_secondary_default;
}

.subjectHeader,
.descriptionHeader,
.checkboxesHeader,
.teacherHeader {
  color: $text_secondary_default;
  font-size: 16px;
  font-weight: 400;
}

.subjectName,
.teacherName {
  font-size: 18px;
}
.teacherName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.descriptionInput {
  border: none;
  outline: none;
  margin-top: 10px;
  resize: vertical;
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 8px;
}
button.checkboxesButton {
  display: flex;
  align-self: start;
  gap: 10px;
  padding: 0;
}
.saveDeleteButton {
  display: flex;
  gap: 24px;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  //width: 400px;
  padding: 10px 0;
  //position: absolute;
  bottom: 30px;
  left: calc(50% - 200px);
}
.saveDeleteButton button {
  padding: 10px 40px;
}
.saveButton {
  width: 100%;
}
button.deleteButton {
  cursor: pointer;
  padding: 0;
  transition-duration: 0.2s;
  border: 1px solid #E31B1B;
  color: #E31B1B;
  background-color: unset;
  width: 100%;
}
.deleteButton:hover {
  background-color: #E31B1B;
  border: 1px solid #B90C0C;
  color: $bg_primary;
}
.checkboxesInput {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  padding: 10px 20px;
}

@media screen and (max-width: 1180px) {
  .ModalTask {
    --window-width: 70vw;
    padding: 26px 32px 26px 32px;
  }
  .title {
    font-size: 24px;
  }
  .titleInput::placeholder {
    font-size: 24px;
    font-weight: 700;
  }
  .subjectHeader,
  .descriptionHeader,
  .checkboxesHeader,
  .teacherHeader {
    font-size: 14px;
  }
  .subjectName,
  .teacherName {
    font-size: 16px;
  }
  .deadline {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .ModalTask {
    --window-width: 85vw;
  }
}

@media screen and (max-width: 600px) {
  .ModalTask {
    padding: 20px;
    min-height: unset;
  }
  .title {
    font-size: 16px;
  }

  .windowHeader {
    padding-right: 30px;
  }

  .titleInput::placeholder {
    font-size: 18px;
    font-weight: 700;
  }
  .subjectHeader,
  .descriptionHeader,
  .checkboxesHeader,
  .teacherHeader {
    font-size: 14px;
  }
  .subjectName,
  .teacherName,
  .checkboxes {
    font-size: 16px;
  }
  .deadline {
    font-size: 14px;
  }

  .saveDeleteButton {
    padding: 10px 20px;
    width: 100%;
    position: relative;
    left: unset;
    margin-top: 24px;
    bottom: unset;
    gap: 10px;
  }

  button.deleteButton {
    padding: 10px;
  }

  button.saveButton {
    padding: 10px;
  }
}
