@import "src/app/styles";


.ModalTask {
  --window-width: 900px;
  width: var(--window-width);
  display: none;
  top: 36px;

  left: calc(50% - (var(--window-width) / 2));
  padding: 40px 44px;
  border-radius: 24px;
  min-height: calc(100% - 144px);
}
.visible {
  display: block;
  position: absolute;
  background: #fff;
  z-index: 99;
}
.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.windowHeader {
  display: flex;

}
.title {
  font-size: 32px;
  font-weight: 700;
}
.titleInput {
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 32px;
  font-size: 32px;
  font-weight: 700;
}
.titleInput::placeholder {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
.deadline {
  padding: 12px 16px;
  background: rgba(7, 7, 6, 0.12);
  border-radius: 12px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 20px;
  min-width: 200px;
}
.deadlineInput {
  background: none;
  outline: none;
  border: none;
  font-size: 16px;
}
.deadlineInput::placeholder {
  font-size: 16px;
  color: #000;
}
.subject, .teacher, .description, .checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.description {
  margin-bottom: 40px;
}
.checkboxesBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 6px;
}

.deadlineHeader {
  font-size: 14px;
  font-weight: 400;
  color: $text_secondary_default
}


.subjectHeader,
.descriptionHeader,
.checkboxesHeader,
.teacherHeader{
 color: $text_secondary_default;
  font-size: 16px;
  font-weight: 400;
}





.subjectName,
.teacherName {
  font-size: 18px;
}
.teacherName {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.descriptionInput {
  border: none;
  outline: none;
  margin-top: 10px;
  resize: vertical;
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 8px;
}
button.checkboxesButton {
  max-width: 200px;
  padding: 10px 20px;
  margin-top: 10px;
}
button.saveButton {
  padding: 10px 20px;
  width: 400px;
  margin: 0 auto;
}
.checkboxesInput {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  padding: 10px 20px;
}

@media screen and (max-width: 1180px) {
  .ModalTask {
    --window-width: 70vw;
    padding: 26px 70px 26px 32px;
  }
  .title {
    font-size: 24px;
  }
  .titleInput::placeholder {
    font-size: 24px;
    font-weight: 700;
  }
  .subjectHeader,
  .descriptionHeader,
  .checkboxesHeader,
  .teacherHeader{
    font-size: 14px;
  }
  .subjectName,
  .teacherName {
    font-size: 16px;
  }
  .deadline {
    font-size: 14px;
  }

}
@media screen and (max-width: 600px) {
  .ModalTask {
    padding: 12px 50px 18px 12px;
  }
  .title {
    font-size: 16px;
  }
  .titleInput::placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  .subjectHeader,
  .descriptionHeader,
  .checkboxesHeader,
  .teacherHeader{
    font-size: 12px;
  }
  .subjectName,
  .teacherName,
  .checkboxes {
    font-size: 14px;
  }
  .deadline {
    font-size: 12px;
  }

}
