@import 'src/app/styles';
.TaskItem {
  display: flex;
  align-items: flex-start;
  padding: 8px 12px;
  border-bottom: 1px solid $bg_secondary_hover;
}
.taskModal {
  display: none;
}
.taskModal.modalOpen {
  display: block;
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(7, 7, 6, 0.12);
}
.TaskItem:last-of-type {

   border-bottom: none;
 }
.title {
  font-size: 14px;
  margin-bottom: 4px;
}
.subject {
  font-size: 12px;
  color: $text-secondary-default;
}
.descriptionContainer {
  width: 100%;
}